* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  transition: all 0.3s;
}
body {
  background-color: hsl(0, 0%, 8%);
}
.container {
  background-color: hsl(0, 0%, 12%);
  color: hsl(0, 0%, 100%);
  display: flexbox;
  justify-content: center;
  max-width: 20rem;
  margin: 250px auto;
  padding: 1rem 2.5rem 2rem 2.5rem;
  border-radius: 1rem;
}
.container > * {
  display: flex;
  justify-content: center;
  text-align: center;
}
.green-text {
  color: hsl(75, 94%, 57%);
  margin-top: 0.6rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
}
.logo {
  display: block;
  width: 100px;
  border-radius: 50%;
  margin: 1rem auto;
  margin-bottom: 1.5rem;
}
button {
  display: block;
  width: 100%;
  margin: 0.5rem auto;
  padding: 1rem;
  border: none;
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 0.9rem;
}
button:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}
a {
  text-decoration: none;
}
p {
  font-size: 14px;
  color: rgb(163, 163, 163);
  font-weight: 400;
}
p:last-of-type {
  font-size: 0.7rem;
}
h1 {
  margin-bottom: 0.5rem;
  font-size: 1.7rem;
}

/* css for drop down */
.dropbtn {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}
/* for large phones like samsung ultra or iphone pro max phones */
@media (max-width: 480px) and (min-width: 426px) {
  .container {
    margin: 10em 2.5em 2em 2.5em;
    padding: 1rem 1.5rem;
  }
  body {
    margin: 0rem;
  }
  .logo {
    margin-top: 0.5rem;
  }
  * {
    transition: all 0.3s;
  }
}
/* for phones like iphone 12 (medium size)  */

@media (max-width: 425px) and (min-width: 390px) {
  .container {
    margin: 9rem 2.5em 2em 2.5em;
    padding: 1rem 1.5rem;
  }
  body {
    margin: 0rem;
  }
  .logo {
    margin-top: 0.5rem;
  }
  * {
    transition: all 0.3s;
  }
}
/* small phones like iphone se */
@media (min-width: 0px) and (max-width: 389px) {
  .container {
    margin: 8em 1.5em 2em 1.5em;
    padding: 1rem 1.5rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  body {
    margin: 0rem;
  }
  .logo {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
  * {
    transition: all 0.3s;
  }
}
/* for 4k monitors */
@media (min-width: 2560px) {
  .container {
    margin: 20em 50em 20em 50em;
    padding: 5rem 8rem;
    max-width: 100rem;
    border-radius: 2rem;
  }
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 2rem;
  }
  body {
    margin: 0rem;
  }
  .green-text {
    font-size: 2rem;
  }
  .logo {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    width: auto;
  }
  * {
    transition: all 0.3s;
  }
  button {
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 1.5rem;
  }
}
/* for tablets */
@media (max-width: 1024px) and (min-width: 768px) {
  .container {
    margin: 13em 14em;
    padding: 1rem 1.5rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  body {
    margin: 0rem;
  }
  .logo {
    margin-top: 0.5rem;
    width: 5rem;
  }
  * {
    transition: all 0.3s;
  }
  button {
    padding: 0.9rem;
  }
  .green-text {
    font-size: 0.9em;
  }
}
